.border-bottom-0 {
  border-bottom: 0.25rem solid #00a39c !important;
}
.border-top-0 {
  border-top: 0.25rem solid #00a39c !important;
}
.border-left-0 {
  border-left: 0.25rem solid #00a39c !important;
}
.border-right-0 {
  border-right: 0.25rem solid #00a39c !important;
}
.border-x-0 {
  border-left: 0.25rem solid #00a39c !important;
  border-right: 0.25rem solid #00a39c !important;
}
.border-y-0 {
  border-bottom: 0.25rem solid #00a39c !important;
  border-top: 0.25rem solid #00a39c !important;
}
.border-bottom-1 {
  border-bottom: 0.5rem solid #00a39c !important;
}
.border-top-1 {
  border-top: 0.5rem solid #00a39c !important;
}
.border-left-1 {
  border-left: 0.5rem solid #00a39c !important;
}
.border-right-1 {
  border-right: 0.5rem solid #00a39c !important;
}
.border-x-1 {
  border-left: 0.5rem solid #00a39c !important;
  border-right: 0.5rem solid #00a39c !important;
}
.border-y-1 {
  border-bottom: 0.5rem solid #00a39c !important;
  border-top: 0.5rem solid #00a39c !important;
}
.border-bottom-2 {
  border-bottom: 1rem solid #00a39c !important;
}
.border-top-2 {
  border-top: 1rem solid #00a39c !important;
}
.border-left-2 {
  border-left: 1rem solid #00a39c !important;
}
.border-right-2 {
  border-right: 1rem solid #00a39c !important;
}
.border-x-2 {
  border-left: 1rem solid #00a39c !important;
  border-right: 1rem solid #00a39c !important;
}
.border-y-2 {
  border-bottom: 1rem solid #00a39c !important;
  border-top: 1rem solid #00a39c !important;
}
.border-bottom-3 {
  border-bottom: 1.25rem solid #00a39c !important;
}
.border-top-3 {
  border-top: 1.25rem solid #00a39c !important;
}
.border-left-3 {
  border-left: 1.25rem solid #00a39c !important;
}
.border-right-3 {
  border-right: 1.25rem solid #00a39c !important;
}
.border-x-3 {
  border-left: 1.25rem solid #00a39c !important;
  border-right: 1.25rem solid #00a39c !important;
}
.border-y-3 {
  border-bottom: 1.25rem solid #00a39c !important;
  border-top: 1.25rem solid #00a39c !important;
}
.border-bottom-4 {
  border-bottom: 3rem solid #00a39c !important;
}
.border-top-4 {
  border-top: 3rem solid #00a39c !important;
}
.border-left-4 {
  border-left: 3rem solid #00a39c !important;
}
.border-right-4 {
  border-right: 3rem solid #00a39c !important;
}
.border-x-4 {
  border-left: 3rem solid #00a39c !important;
  border-right: 3rem solid #00a39c !important;
}
.border-y-4 {
  border-bottom: 3rem solid #00a39c !important;
  border-top: 3rem solid #00a39c !important;
}
.border-bottom-0 {
  border-bottom: 0.25rem solid #004b87 !important;
}
.border-top-0 {
  border-top: 0.25rem solid #004b87 !important;
}
.border-left-0 {
  border-left: 0.25rem solid #004b87 !important;
}
.border-right-0 {
  border-right: 0.25rem solid #004b87 !important;
}
.border-x-0 {
  border-left: 0.25rem solid #004b87 !important;
  border-right: 0.25rem solid #004b87 !important;
}
.border-y-0 {
  border-bottom: 0.25rem solid #004b87 !important;
  border-top: 0.25rem solid #004b87 !important;
}
.border-bottom-1 {
  border-bottom: 0.5rem solid #004b87 !important;
}
.border-top-1 {
  border-top: 0.5rem solid #004b87 !important;
}
.border-left-1 {
  border-left: 0.5rem solid #004b87 !important;
}
.border-right-1 {
  border-right: 0.5rem solid #004b87 !important;
}
.border-x-1 {
  border-left: 0.5rem solid #004b87 !important;
  border-right: 0.5rem solid #004b87 !important;
}
.border-y-1 {
  border-bottom: 0.5rem solid #004b87 !important;
  border-top: 0.5rem solid #004b87 !important;
}
.border-bottom-2 {
  border-bottom: 1rem solid #004b87 !important;
}
.border-top-2 {
  border-top: 1rem solid #004b87 !important;
}
.border-left-2 {
  border-left: 1rem solid #004b87 !important;
}
.border-right-2 {
  border-right: 1rem solid #004b87 !important;
}
.border-x-2 {
  border-left: 1rem solid #004b87 !important;
  border-right: 1rem solid #004b87 !important;
}
.border-y-2 {
  border-bottom: 1rem solid #004b87 !important;
  border-top: 1rem solid #004b87 !important;
}
.border-bottom-3 {
  border-bottom: 1.25rem solid #004b87 !important;
}
.border-top-3 {
  border-top: 1.25rem solid #004b87 !important;
}
.border-left-3 {
  border-left: 1.25rem solid #004b87 !important;
}
.border-right-3 {
  border-right: 1.25rem solid #004b87 !important;
}
.border-x-3 {
  border-left: 1.25rem solid #004b87 !important;
  border-right: 1.25rem solid #004b87 !important;
}
.border-y-3 {
  border-bottom: 1.25rem solid #004b87 !important;
  border-top: 1.25rem solid #004b87 !important;
}
.border-bottom-4 {
  border-bottom: 3rem solid #004b87 !important;
}
.border-top-4 {
  border-top: 3rem solid #004b87 !important;
}
.border-left-4 {
  border-left: 3rem solid #004b87 !important;
}
.border-right-4 {
  border-right: 3rem solid #004b87 !important;
}
.border-x-4 {
  border-left: 3rem solid #004b87 !important;
  border-right: 3rem solid #004b87 !important;
}
.border-y-4 {
  border-bottom: 3rem solid #004b87 !important;
  border-top: 3rem solid #004b87 !important;
}
.border-bottom-0 {
  border-bottom: 0.25rem solid #343a40 !important;
}
.border-top-0 {
  border-top: 0.25rem solid #343a40 !important;
}
.border-left-0 {
  border-left: 0.25rem solid #343a40 !important;
}
.border-right-0 {
  border-right: 0.25rem solid #343a40 !important;
}
.border-x-0 {
  border-left: 0.25rem solid #343a40 !important;
  border-right: 0.25rem solid #343a40 !important;
}
.border-y-0 {
  border-bottom: 0.25rem solid #343a40 !important;
  border-top: 0.25rem solid #343a40 !important;
}
.border-bottom-1 {
  border-bottom: 0.5rem solid #343a40 !important;
}
.border-top-1 {
  border-top: 0.5rem solid #343a40 !important;
}
.border-left-1 {
  border-left: 0.5rem solid #343a40 !important;
}
.border-right-1 {
  border-right: 0.5rem solid #343a40 !important;
}
.border-x-1 {
  border-left: 0.5rem solid #343a40 !important;
  border-right: 0.5rem solid #343a40 !important;
}
.border-y-1 {
  border-bottom: 0.5rem solid #343a40 !important;
  border-top: 0.5rem solid #343a40 !important;
}
.border-bottom-2 {
  border-bottom: 1rem solid #343a40 !important;
}
.border-top-2 {
  border-top: 1rem solid #343a40 !important;
}
.border-left-2 {
  border-left: 1rem solid #343a40 !important;
}
.border-right-2 {
  border-right: 1rem solid #343a40 !important;
}
.border-x-2 {
  border-left: 1rem solid #343a40 !important;
  border-right: 1rem solid #343a40 !important;
}
.border-y-2 {
  border-bottom: 1rem solid #343a40 !important;
  border-top: 1rem solid #343a40 !important;
}
.border-bottom-3 {
  border-bottom: 1.25rem solid #343a40 !important;
}
.border-top-3 {
  border-top: 1.25rem solid #343a40 !important;
}
.border-left-3 {
  border-left: 1.25rem solid #343a40 !important;
}
.border-right-3 {
  border-right: 1.25rem solid #343a40 !important;
}
.border-x-3 {
  border-left: 1.25rem solid #343a40 !important;
  border-right: 1.25rem solid #343a40 !important;
}
.border-y-3 {
  border-bottom: 1.25rem solid #343a40 !important;
  border-top: 1.25rem solid #343a40 !important;
}
.border-bottom-4 {
  border-bottom: 3rem solid #343a40 !important;
}
.border-top-4 {
  border-top: 3rem solid #343a40 !important;
}
.border-left-4 {
  border-left: 3rem solid #343a40 !important;
}
.border-right-4 {
  border-right: 3rem solid #343a40 !important;
}
.border-x-4 {
  border-left: 3rem solid #343a40 !important;
  border-right: 3rem solid #343a40 !important;
}
.border-y-4 {
  border-bottom: 3rem solid #343a40 !important;
  border-top: 3rem solid #343a40 !important;
}
.border-bottom-0 {
  border-bottom: 0.25rem solid #fca700 !important;
}
.border-top-0 {
  border-top: 0.25rem solid #fca700 !important;
}
.border-left-0 {
  border-left: 0.25rem solid #fca700 !important;
}
.border-right-0 {
  border-right: 0.25rem solid #fca700 !important;
}
.border-x-0 {
  border-left: 0.25rem solid #fca700 !important;
  border-right: 0.25rem solid #fca700 !important;
}
.border-y-0 {
  border-bottom: 0.25rem solid #fca700 !important;
  border-top: 0.25rem solid #fca700 !important;
}
.border-bottom-1 {
  border-bottom: 0.5rem solid #fca700 !important;
}
.border-top-1 {
  border-top: 0.5rem solid #fca700 !important;
}
.border-left-1 {
  border-left: 0.5rem solid #fca700 !important;
}
.border-right-1 {
  border-right: 0.5rem solid #fca700 !important;
}
.border-x-1 {
  border-left: 0.5rem solid #fca700 !important;
  border-right: 0.5rem solid #fca700 !important;
}
.border-y-1 {
  border-bottom: 0.5rem solid #fca700 !important;
  border-top: 0.5rem solid #fca700 !important;
}
.border-bottom-2 {
  border-bottom: 1rem solid #fca700 !important;
}
.border-top-2 {
  border-top: 1rem solid #fca700 !important;
}
.border-left-2 {
  border-left: 1rem solid #fca700 !important;
}
.border-right-2 {
  border-right: 1rem solid #fca700 !important;
}
.border-x-2 {
  border-left: 1rem solid #fca700 !important;
  border-right: 1rem solid #fca700 !important;
}
.border-y-2 {
  border-bottom: 1rem solid #fca700 !important;
  border-top: 1rem solid #fca700 !important;
}
.border-bottom-3 {
  border-bottom: 1.25rem solid #fca700 !important;
}
.border-top-3 {
  border-top: 1.25rem solid #fca700 !important;
}
.border-left-3 {
  border-left: 1.25rem solid #fca700 !important;
}
.border-right-3 {
  border-right: 1.25rem solid #fca700 !important;
}
.border-x-3 {
  border-left: 1.25rem solid #fca700 !important;
  border-right: 1.25rem solid #fca700 !important;
}
.border-y-3 {
  border-bottom: 1.25rem solid #fca700 !important;
  border-top: 1.25rem solid #fca700 !important;
}
.border-bottom-4 {
  border-bottom: 3rem solid #fca700 !important;
}
.border-top-4 {
  border-top: 3rem solid #fca700 !important;
}
.border-left-4 {
  border-left: 3rem solid #fca700 !important;
}
.border-right-4 {
  border-right: 3rem solid #fca700 !important;
}
.border-x-4 {
  border-left: 3rem solid #fca700 !important;
  border-right: 3rem solid #fca700 !important;
}
.border-y-4 {
  border-bottom: 3rem solid #fca700 !important;
  border-top: 3rem solid #fca700 !important;
}
.slick-dots {
  display: flex;
  justify-content: center;
  padding: 0;
}
.slick-dots li {
  list-style: none;
  background-color: #f00;
  margin: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #004b87;
}
.slick-dots li button {
  display: none;
}
.slick-dots li.slick-active {
  background-color: #00a39c;
}
.slick-slider {
  position: relative;
}
.slick-slider .divCont {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.slick-slider .divCont:after {
  content: '';
  background-color: rgba(13,13,13,0.4);
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.slick-slider .divCont .content-text {
  position: relative;
  z-index: 1;
  max-width: 800px;
}
.slick-slider .divCont .content-text h2 {
  font-size: 3em;
  font-weight: 400;
}
@media (max-width: 600px) {
  .slick-slider .divCont .content-text h2 {
    font-size: 2em;
  }
}
.slick-slider .slick-arrow {
  position: absolute;
  z-index: 5;
  top: 50%;
  background: transparent;
  border: 0px solid transparent;
  color: rgba(255,255,255,0.5);
}
.slick-slider .slick-arrow.slick-prev {
  left: 5%;
}
.slick-slider .slick-arrow.slick-next {
  right: 5%;
}
.imgCover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
}
.banner-noticias .imgNoticia {
  width: 100%;
  max-height: 250px;
  height: 250px;
}
.imgHacemos {
  height: 200px;
  max-height: 200px;
  position: relative;
}
.imgHacemos .textInformacion {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 60px;
  background-color: rgba(6,7,8,0.7);
  color: #fff;
  font-size: 1.3em;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.divServicios >div {
  padding: 10px;
}
.divServicios >div:nth-child(even) .itemServicio {
  background-color: #96a0aa;
}
.divServicios >div:nth-child(even) a {
  color: initial;
}
.divServicios >div:nth-child(odd) .itemServicio {
  background-color: #00a39c;
}
.divServicios >div:nth-child(odd) a {
  color: #fff;
}
.divServicios >div a {
  display: flex;
  justify-content: space-beetwen;
  text-decoration: none;
}
