$blue = #00a39c
$gray-600 = #004B87
$gray-800 = #343a40
$yellow = #FCA700
$spacer = 1rem

$primary = $blue
$secondary = $gray-600
$warning = $yellow
$dark = $gray-800


.border
	for color in $blue $gray-600 $gray-800 $yellow
		for num, i in 0.25 0.5 1 1.25 3
			&-bottom-{i}
				border-bottom ($spacer * num) solid color !important
			&-top-{i}
				border-top ($spacer * num) solid color !important
			&-left-{i}
				border-left ($spacer * num) solid color !important
			&-right-{i}
				border-right ($spacer * num) solid color !important
			&-x-{i}
				border-left ($spacer * num) solid color !important
				border-right ($spacer * num) solid color !important
			&-y-{i}
				border-bottom ($spacer * num) solid color !important
				border-top ($spacer * num) solid color !important

//border('bottom', args = $warning)
// .border
// 	&-bottom-1
// 		border-bottom ($spacer * 0.25) solid $warning !important
// 	&-top-1
// 		border-top ($spacer * 0.25) solid $warning !important
// 	&-left-1
// 		border-top ($spacer * 0.25) solid $warning !important
// 	&-right-1
// 		border-top ($spacer * 0.25) solid $warning !important
// 	&-bottom-2
// 		border-bottom ($spacer * 0.5) solid $warning !important
// 	&-top-2
// 		border-top ($spacer * 0.5) solid $warning !important
// 	&-left-2
// 		border-top ($spacer * 0.5) solid $warning !important
// 	&-right-2
// 		border-top ($spacer * 0.5) solid $warning !important
// 	&-bottom-3
// 		border-bottom ($spacer) solid $warning !important
// 	&-top-3
// 		border-top ($spacer) solid $warning !important
// 	&-left-3
// 		border-top ($spacer) solid $warning !important
// 	&-right-3
// 		border-top ($spacer) solid $warning !important
// 	&-bottom-4
// 		border-bottom ($spacer * 1.25) solid $warning !important
// 	&-top-4
// 		border-top ($spacer * 1.25) solid $warning !important
// 	&-left-4
// 		border-top ($spacer * 1.25) solid $warning !important
// 	&-right-4
// 		border-top ($spacer * 1.25) solid $warning !important
// 	&-bottom-5
// 		border-bottom ($spacer * 3) solid $warning !important
// 	&-top-5
// 		border-top ($spacer * 3) solid $warning !important
// 	&-left-5
// 		border-top ($spacer * 3) solid $warning !important
// 	&-right-5
// 		border-top ($spacer * 3) solid $warning !important


.slick-dots
	display flex
	justify-content center
	padding 0
	li
		list-style none
		background-color red
		margin 5px
		width 15px
		height 15px
		border-radius 50%
		background-color $secondary
		button
			display none
		&.slick-active
			background-color $primary

.slick-slider
	position relative
	.divCont
		position relative
		background-size cover
		background-position center
		background-repeat no-repeat
		&:after
			content ''
			background-color rgba(darken(white, 95),0.4)
			position absolute
			z-index 0
			top 0
			left 0
			right 0
			bottom 0
		.content-text
			position relative
			z-index 1
			max-width 800px
			h2
				font-size 3em
				font-weight 400
				@media (max-width: 600px) 
					font-size 2em
	.slick-arrow
		position absolute
		z-index 5
		top 50%
		background transparent
		border 0px solid transparent
		color rgba(white, 0.5)
		&.slick-prev
			left 5%
		&.slick-next
			right 5%
			
.imgCover
	img
		width 100%
		height 100%
		-o-object-fit cover
		object-fit cover
		-o-object-position top
		object-position top
		
.banner-noticias
	.imgNoticia
		width 100%
		max-height 250px
		height 250px


.imgHacemos
	height 200px
	max-height 200px
	position relative
	.textInformacion
		position absolute
		bottom 0
		left 0
		right 0
		min-height 60px
		background-color rgba(darken($dark,20), 0.7)
		color white
		font-size 1.3em
		display flex
		align-items center
		text-align center
		justify-content center
		

.divServicios
	>div
		&:nth-child(even)
			.itemServicio
				background-color lighten($dark, 40)
			a
				color initial
		&:nth-child(odd)
			.itemServicio
				background-color $primary
			a
				color white
		padding 10px
		a
			display flex
			justify-content space-beetwen
			text-decoration none